<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      
      <div class="alert alert-danger" role="alert">
        <h3>
          <%= pluralize(coin.errors.count, t("erro_coin") ) %>
        </h3>

        <% coin.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </div>
      
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :acronym %>
    <%= form.text_field :acronym, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url_image %>
    <%= form.text_field :url_image, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mining_type_id %>
    <%= 
      form.select("mining_type_id", @mining_type_options,{include_blank: "Selecione uma opção..."}, class:"form-control")
     %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-success mt-2 mb-2" %>
  </div>

<% end %>
